{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <div class="row">
        {% for i in 1..20 %}
            <div class="col-md-4">
                <div class="card mb-5 shadow">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://images.pexels.com/photos/20363391/pexels-photo-20363391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Titre du Produit</h5>
                                <p class="card-text">This is a wider card with.</p>
                                <p class="card-text">Prix: 1700000 FCFA</p>
                                <p class="card-text">Etat: Neuf FCFA</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>



    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
